{% load static %}
	<!--Header-->
	<header class="header">
		
		
		<!--Nav bar-->
		<div class="nav-bar">
			
		<!--Container-->
		<div class="container">
		
		<div class="main-nav">
			
			
		<div class="four columns logo-holder">
			<a href="{% url 'website:index' %}">
				<img class="logo" alt="Logo" src="{% static 'img/logo.png' %}">
			</a>
		</div>		
		
			<div class="twelve columns tRight nav-holder">
				

				<a href="#" class="mobile-btn" ><i class="ti-menu"></i></a>
				
				
					<nav class="menu-holder main-nav">
						<ul class="menu">
						<li><a href="{% url 'website:index' %}">Home</a></li>

						<li><a href="#">Work</a></li>

						<li><a href="{% url 'website:contact' %}">Contact</a></li>



						<li><a href="{% url 'blog:index' %}">Blog</a></li>

						
						
						<li><a href="{% url 'website:about' %}">About</a></li>

						
					</ul>
					
					
					

						
						
						
					</nav>
				
			</div>
			
			
		</div>
			
		</div>
		<!--End container-->
		
		</div>
		<!--End nav bar-->
		
	</header>
	<!--End header-->

	{% block content %}

    {% endblock %}

	<!--Footer-->	
	<footer class="footer-transparent footer">
						

		<!--Container-->

		<!--End container-->
	
	</footer>
	<!--End footer-->