
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>SELFIE - Personal Photographer HTML Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'css/skeleton.css' %}" rel="stylesheet" type="text/css" media="all"/>
 		<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all"/>
		<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" media="all"/>
		<link href="{% static 'css/venobox.css' %}" type="text/css" rel="stylesheet" media="all" />
		<link href="{% static 'css/font.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/fontello.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/themify-icons.css' %}" rel="stylesheet" type="text/css">
		
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="{% static 'css/ie9.css' %}" />
		<![endif]-->
    </head>
    <body>
	
	
	
	
<!-- Preloader -->
<div id="loader">
		<!-- Preloader inner -->
  <div id="loaderInner">

	<!-- Loader bars -->
		<div class="loaderBars">
			<span class="bar1 bar"></span>
			<span class="bar2 bar"></span>
			<span class="bar3 bar"></span>
		</div>
		<!-- End loader bars -->

  </div>
<!-- End preloader inner -->
</div>
<!-- End preloader-->


<!--Wrapper-->
<div id="wrapper">
	
	
	
	
	
	
	
	
		<!--Blog section-->
		<section class="blog bgGrey ofsTop margTop ofsBottom tCenter ">
			
						<!--Container-->
					<div class="container">
							
							<!--BLog holder-->
							<div class="blog-holder clearfix thirteen columns " >
								
								
								{% for post in posts %}
								<!--Post-->
								<div class="post clearfix">
									
									
									<!--Post media-->
									<div class="post-media background-image">
										<img alt="" class="" src="{{post.image.url}}">
	
									</div>
									<!--End post media-->
									
									<!--Post content-->
									<div class="post-content bgWhite eleven columns  ofsInTop ofsInBottom">

										<div class="post-meta">
											<h5>{{post.publish_date|naturaltime}}</h5>
										</div>
										
										<div class="post-title ofsTSmall ofsBSmall">
										<h1><a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a></h1>
										</div>
										
										
										<div class="post-detail tLeft ofsTSmall">
										<p>{{post.content|safe|truncatewords:50}}</p>
										</div>
										
										
										<div class="meta-bottom ofsTMedium">
											<ul>
												<ul>
													<li><i class="ti-user"></i>By <a href="{% url 'blog:author' author_username=post.author.username %}">{{ post.author.get_full_name }}</a></li>
												
													
													<li><i class="ti-folder"></i>Category:
														{% for cat in post.category.all %}
															<a href="{% url 'blog:category' cat_name=cat.name %}">{{ cat.name }}</a>{% if not forloop.last %}, {% endif %}
														{% endfor %}
													</li>
												
													
													<li><i class="ti-tag"></i>Tagged:
														{% for tag in post.tag.all %}
															<a href="{% url 'blog:tag' tag_name=tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
														{% endfor %}
													</li>
												</ul>
										
										
									</div>
									<!--End post content-->
									
									
								</div>
								<!--End post-->
								{% endfor %}
								
								
								
								
								
								

								
								
								
									<div class="pagination blog  tCenter">
									<ul>
										<div class="pagination blog  tCenter">
											<ul>
												{% if posts.has_previous %}
												<li class="prev"><a href="?page={{posts.previous_page_number}}"><i
															class="icon-angle-double-left"></i></a></li>
												{% endif %}
												{% for i in posts.paginator.page_range %}
												{% if posts.number == i %}
												<li><a href="?page={{i}}" class="selected">{{i}}</a></li>
												{% else %}
												<li><a href="?page={{i}}">{{i}}</a></li>
												{% endif %}
												{% endfor %}
				
												{% if posts.has_next %}
												<li class="next"><a href="?page={{posts.next_page_number}}"><i
															class="icon-angle-double-right"></i></a></li>
												{% endif %}
											</ul>
										</div>
								</div>
								
								
								
								
								

							</div>
							<!--End blog holder-->
							
							
	
	
						</div>
					<!--End container-->

		
			</section>
			<!--End blog section-->
			
			

					
			
			
			



</div>
<!--End wrapper-->

				
	
<!--Javascript-->	
<script src="{% static 'js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.js' %}" type="text/javascript"></script>			
<script src="{% static 'js/jquery.flexslider-min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/venobox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/masonry.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/spectragram.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/modernizr.js' %}" type="text/javascript"></script>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>


<!-- Google analytics -->


<!-- End google analytics -->


    </body>
</html>

{% endblock %}